@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7mrssw');
  src:  url('../fonts/icomoon.eot?7mrssw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7mrssw') format('truetype'),
    url('../fonts/icomoon.woff?7mrssw') format('woff'),
    url('../fonts/icomoon.svg?7mrssw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-local_police:before {
  content: "\e909";
}
.icon-create:before {
  content: "\e923";
}
.icon-check:before {
  content: "\e904";
}
.icon-circle:before {
  content: "\e900";
}
.icon-swap_horizontal_circle:before {
  content: "\e901";
}
.icon-image:before {
  content: "\e902";
}
.icon-futebol:before {
  content: "\e903";
}
.icon-basquete:before {
  content: "\e905";
}
.icon-esoccer:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-shield:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e90b";
}
.icon-error_outline:before {
  content: "\e90c";
}
.icon-error:before {
  content: "\e90d";
}
.icon-notifications:before {
  content: "\e90e";
}
.icon-alert:before {
  content: "\e90f";
}
.icon-visibility_off:before {
  content: "\e910";
}
.icon-remove_red_eye:before {
  content: "\e911";
}
.icon-visibility:before {
  content: "\e911";
}
.icon-show_chart:before {
  content: "\e912";
}
.icon-chart:before {
  content: "\e913";
}
.icon-payment:before {
  content: "\e914";
}
.icon-carteira:before {
  content: "\e915";
}
.icon-money_off:before {
  content: "\e916";
}
.icon-attach_money:before {
  content: "\e917";
}
.icon-compare:before {
  content: "\e918";
}
.icon-arrow_forward:before {
  content: "\e919";
}
.icon-arrow_back:before {
  content: "\e91a";
}
.icon-arrow_up:before {
  content: "\e91b";
}
.icon-arrow_right:before {
  content: "\e91c";
}
.icon-arrow_left:before {
  content: "\e91d";
}
.icon-arrow_down:before {
  content: "\e91e";
}
.icon-check_circle_outline:before {
  content: "\e91f";
}
.icon-check_circle:before {
  content: "\e920";
}
.icon-remove:before {
  content: "\e921";
}
.icon-delete:before {
  content: "\e922";
}
.icon-sair:before {
  content: "\e924";
}
.icon-close:before {
  content: "\e926";
}
.icon-cancel:before {
  content: "\e927";
}
.icon-user:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e929";
}
.icon-time:before {
  content: "\e92a";
}
.icon-google:before {
  content: "\e908";
}
.icon-brand:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e92b";
}
.icon-instagram:before {
  content: "\e92c";
}
.icon-youtube:before {
  content: "\e92d";
}
.icon-facebook:before {
  content: "\e92e";
}