 //Colors
 $primary          : #58c1f9;
 $accent           : #98A093;
 $secondary        : #4E8fBF;
 $foreground       : #010101;
 $background       : #E7E7E7;

 $clean-4          : #34383C;
 $clean-3          : #7A898D;
 $clean-2          : #A0A8AC;
 $clean-1          : #F4F5F6;

 $cta              : #FFC90E;
 $cta-2            : #321da6;  
 
 $white            : #FFFFFF;

 $error            : #F91F1F;
 $error-background : #FC6161;
 $sucess           : #12931E;
 $sucess-background: #53BE62;