.bets-d-home {
  display: grid;  
}

//Grid simple
@mixin gridSimple(){
  display: grid;
  grid-gap: 16px;
}

//Mixin Pesquisa
@mixin pesquisa($p-lat, $p-cent){
  .pesquisa-lateral {
    display: $p-lat;
  }  
  .pesquisa-central {
    display: $p-cent;
  }  
}

//Mixin Grid
@mixin gridbet(){
  display: grid;
  grid-template-rows: auto;    
}

//Mixin Ordenação left
@mixin leftBet($pos-p, $pos-j){
  .pesquisa-lateral {grid-row: $pos-p;}
  .jogos {grid-row: $pos-j;}
}

@mixin leftpubli($pb-1, $pb-2){
  .l-pub-1 {grid-row: $pb-1;}
  .l-pub-2 {grid-row: $pb-2;}
}

//Mixin Ordenação center
@mixin centerBet($pos-psq, $pos-sl, $pos-dest, $pos-cal, $pos-home, $pos-pub){
  .pesquisa-central {grid-row: $pos-psq;}
  .carousel {grid-row: $pos-sl;}
  .calendar-nav-bets {grid-row: $pos-cal;}
  .Jogos-destaque {grid-row: $pos-dest;}
  .jogos-home {width: 100%; grid-row: $pos-home;}
  .publi {grid-row: $pos-pub;}  
}

//Mixin Ordenação right
@mixin rightpubli($pb-1, $pb-2){
  .r-pub-1 {grid-row: $pb-1;}
  .r-pub-2 {grid-row: $pb-2;}
}

body {
  //lateral / central
  @include pesquisa(block, none);
}

.sidebar-left {
  margin-top: 0;
  @include gridSimple();
  @include leftBet(1, 2);  
}

.publi-left {
  margin-top: 16px;
  @include gridSimple();
  @include leftpubli(1, 2);  
}

.publi-right {
  margin-top: 16px;
  @include gridSimple();
  @include rightpubli(1, 2);  
}

.center-bets {
  @include gridSimple();
  // @include centerBet (1, 2, 3, 4, 5, 6);    
}

body {
  //Thema Default
  &.theme-default {    
    .center-bets {
      @include centerBet (1, 2, 3, 4, 5, 6);
    }
  }

  //Thema 1
  &.theme-1 {    
    @include pesquisa(none, block);
    .sidebar-left {
      padding: 0 0.8rem 0.8rem;
    }
  }

  //Thema 2
  &.theme-2 {    
    @include pesquisa(none, block);
    .sidebar-left {
      padding: 0 0.8rem 0.8rem;
    }    
    .center-bets {
      .Jogos-destaque {
        order: 1;
        margin-top: 18px;
      }
      .calendar-nav-bets {order: 2;}
      .slide {order: 3;}
      .pesquisa-central {order: 4;}      
      .jogos-home {order: 5;}
      .publi {order: 6;}
    }
  }

  //Thema 3
  &.theme-3 {    
    @include pesquisa(block, none);
    .center-bets {
      .Jogos-destaque {
        order: 1;
        margin-top: 18px;
      }
      .calendar-nav-bets {order: 3;}
      .slide {order: 2;}
      .pesquisa-central {display: none;}      
      .jogos-home {order: 4;}
      .publi {order: 5;}
    }
  }
}