//Colors
$primary          : #1BDE17;
$accent           : #5EBD18;
$secondary        : #00A427;
$foreground       : #252617;
$background       : #E7E7E7;

$clean-4          : #344459;
$clean-3          : #5A798C;
$clean-2          : #7C9AA6;
$clean-1          : #F4F5F6;

$cta              : #A7DE16;
$cta-2            : #259519;

$white            : #FFFFFF;

$error            : #F91F1F;
$error-background : #FC6161;
$sucess           : #12931E;
$sucess-background: #53BE62;