  //Colors
  $primary          : #F26457;
  $accent           : #98A093;
  $secondary        : #8C3A32;
  $foreground       : #260108;
  $background       : #E7E7E7;

  $clean-4          : #34383C;
  $clean-3          : #7A898D;
  $clean-2          : #A0A8AC;
  $clean-1          : #F4F5F6;

  $cta              : #D91828;
  $cta-2            : #730A13;

  $white            : #FFFFFF;

  $error            : #F91F1F;
  $error-background : #FC6161;
  $sucess           : #12931E;
  $sucess-background: #53BE62;