//Fonts
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap);

//Colors
@import 'blue.scss';

//estrutura
@import 'estrutura.scss';

body {
	font-family: 'Roboto', sans-serif;  
  background-color: $background;
}

//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

//Mixin 
@mixin grayscale(){
  filter: $clean-3;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

//Mixin rotate
@mixin rotate($rot) {
  -webkit-transform: rotate($rot);
  -moz-transform: rotate($rot);
  -o-transform: rotate($rot);
  -ms-transform: rotate($rot);
  transform: rotate($rot);
}

//shadow
@mixin box-shadow () {
	box-shadow: 0 .125rem .25rem rgba(0,0,0,0.075) !important;
}


//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.9rem;
  text-align: left;    
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.9rem;
  text-align: left;    
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.9rem;
  text-align: left;    
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.9rem; 
  text-align: left;   
}
input.form-control {
  @include border-radius (0px);
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.3rem .75rem;
}
input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #ffffff;
  border: 3px solid $foreground;
  box-sizing: border-box;
  position: relative;
  box-sizing: content-box ;
  width: 20px;
  height: 20px;
  border-width: 1;
  transition: all .3s linear;
  @include border-radius (0px);
  &:checked{
    background-color: $foreground;
    color: $clean-1;
    text-align: center;
    &:after {
      content: '\e904';      
      font-family: 'icomoon' !important;
      font-weight: 900;       
      position: absolute;
      top: -2px;
      left: 1px;
    }
  }
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}
.form-check {
  .form-check-label {
    position: absolute;
    top: 3px;
    left: 34px;
    line-height: 0.9rem;
    a {
      color: $foreground;
      text-decoration: underline;
    }
  } 
}

input {
  &.form-control {
    padding: 1.5rem 0.75rem;
    border: 0;
    @include border-radius(2px);        
  }
}

.d-flex {
  display: flex;
  &.align-center {
    align-items: flex-end;
  }  
}

//Pagination
.pagination {
  .page-item {
    .page-link {
      color: $foreground;
    }
    &.disabled {
      .page-link {
        color: $clean-3;
        background-color: rgba($clean-2,0.1);
        border-color: rgba($clean-2,0.2);
      }
    }
    &.active {
      .page-link {
        background-color: $cta-2;
        border-color: $cta-2;
        color: $white;
      }
    }
  }
}

//Modal
.modal {
  .content {
    .icon-bet {
      font-size: 4.5rem;
      margin-bottom: 1.0rem;
      &.icon-alert {
        color: $error;
      }
      &.icon-sucess {
        color: $sucess;
      }
    }
    .modal-title {
      line-height: 1.2rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .sub-text {
      font-size: 0.8rem;
    }
  }
}

h1, h2, h3 ,h4, h5 {
  font-weight: 700;
}

h2 {
  &.title {
    color: $foreground;
    font-weight: 700;
    font-size: 18px;
  }
}

.title-section-simple {
  font-size: 16px;
  font-weight: 700;
}

section {
  //margin: 0.8rem auto;
}

//wrap
.container-bet,
#wrap {
  max-width: 1536px;
  margin: 0 auto;
}

//Icons
.icon-bet {
  display: block;
  // width: 18px;
  // height: 18px;  
}

//btn-bets
.btn-bets {
  background: $foreground;
  color: $clean-1;
  font-size: 0.9rem;
  &:hover {
    background: $accent;
    color: $clean-1;
  }
  &.bt-destaque {
    background: $cta;
    color: $foreground;
    &:hover {
      background: $foreground;
      color: $clean-1;
    }
  }
  &.bt-line {
    background: transparent;
    color: $foreground;
    border: 1px solid $foreground;    
  }
}
//login
.pg-r-pass,
.pg-n-pass,
.pg-cad,
.pg-login {
  background-color: $primary;
}

//Forms (login / Cadastro / recuperar senha / criar senha)
.content-form {
  background: $white;
  padding: 1.2rem 0.8rem;
  margin: 6% auto;
  box-shadow: 0 1.6rem 1.8rem rgba(0,0,0,0.3);
  @include border-radius(8px);       
   .link {
    font-size: 0.8rem;
    color: $foreground;
    text-decoration: underline;
    &:hover {
      color: $cta-2;
    }
   } 
   .btn {
     width: 100%;     
     padding: 0.6rem;
     &.ent {
      background: $cta;
      color: $foreground;
     }
     &.cad-social {
       display: flex;
       justify-content: center;
       align-items: center;
       span {
         background-color: transparent;
         margin-right: 0.2rem;
       }
     }
    &:hover {
      background: $cta-2;
      color: $clean-1;
      .icon-bet {        
        color: $clean-1;
      }
    }
   }
   label {
     font-size: 0.8rem;
     margin-bottom: 0.2rem;
   }
   .form-control {
     border: 1px solid rgba($clean-2,0.5);
   }
  .divider-txt {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
    
  .logo-content {
    width: 100%;
    margin-bottom: 1.0rem;
    text-align: center;
    .logo-img {
      width: 160px;
      margin: 0 auto; 
      
      filter: invert(1);
      filter: invert(1) sepia(1) saturate(5) hue-rotate(175deg);
    }
  }
  .content-text {
    color: $foreground;
    strong {
      font-size: 0.9rem;
      &.blk {
        font-weight: 300;
        margin-top: 0.8rem;
        font-size: 1.2rem;
        display: block;
      }
    }
    h2 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 1.5rem;
    }
    h3 {
      margin-bottom: 0;
      font-weight: 700;
      font-size: 1.2rem;
    }
    .sub-tx {
      font-size: 0.8rem;
      margin-bottom: 1.2rem;
    }
  }
  .c-flx {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .retorno {
    text-align: center;
    .icon {
      font-size: 4.0rem;
    }
  }
}

//Navbar_bets
.navbar-bets {
  background-color: $primary;
  height: 80px;
  .navbar-brand {
    width: 180px;
    height: auto;
  }
  &.log-out {
    .navbar-nav {
      margin-left: auto;
    }
    .links,
    .lg-i {
      display: none;
    }  
  }
  &.log-in {
    .navbar-nav {
      margin-left: auto;
    }
    .soc-h,
    .bt-log {
      display: none;
    }
    .lg-i {
      display: block;
    }  
  }
  .navbar-nav {
    align-items: center;
    .nav-link {
      color: $clean-1;
      font-size: 0.9rem;
      &:hover {
        color: $foreground;        
      }
    }
  }
}

//Avatar
.dropdown-toggle {
  &:after {
    display: none;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  .name-cash {
    margin-right: 0.5rem;
    text-align: right;         
    color: $foreground;
    .name {
      font-size: 0.7rem; 
      margin-bottom: 0;
    }
    .cash {
      font-weight: 700;
    }
  }
  .avatar {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $clean-1;
    margin-right: 0.5rem;
    @include border-radius(2px);
    .icon {
      font-size: 2.4rem;
      color: $foreground;
    }
  }
}

//Sports bet
.sports-bets {
  background: $secondary;
  ul {
    list-style: none;
    padding: 0.5rem;
    margin: 0;

    display: flex;
    li {
      margin-right: 0.5rem;
      a {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        &.btn-bets {
          background: $cta-2;
          .icon-bet {
            font-size: 1.2rem;
          }
          &.bt-line {
            border: 0;
            color: $clean-1;
            background: transparent;
          }
          &:hover {
            background: $cta;
            color: $foreground;
          }
        }
        span {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

//Pesquisa jogos
.pesquisa-jogos {
  font-size: 0.6rem;
  color: $foreground;
  input {
    margin-bottom: 0.3rem;
  }
}

//Pesquisa central
.pesquisa-central {
  background-color: $primary;
  padding: 14px 14px 10px;
  @include border-radius(4px);
}

//Sidebars inicial
.sidebar-left,
.sidebar-right {
  background: $primary;
  padding: 0.8rem;
}

//Jogos
.jogos {
  .accordion {
    .card {
      border: 0;
      .card-header {
        padding: 0;
        button {
          padding: 0.5rem;
          width: 100%;
          text-align: left;
          &.btn {
            background: $cta-2;
            @include border-radius(0);            
            .local {
              color: $clean-1;
              font-weight: 300;
            }
            .champ {
              color: $cta;
              font-weight: 700;
            }  
            &:hover {
              text-decoration: none;
              opacity: 0.9;
            }
          }          
        }
      }
      .card-body {
        padding: 0;
        .jogo {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.5rem 1.2rem 0.5rem 0.5rem;
          color: $secondary;
          border-bottom: 1px solid $clean-1;
          &:hover {
            text-decoration: none;
            color: $cta-2;
            transition: 0.2s;
          }
          .tempo {
            display: flex;
            align-items: center;
            background: $clean-1;
            color: $clean-4;
            font-size: 0.6rem;
            padding: 0.3rem;
            max-width: 60px;
            @include border-radius(2px);
            span {
              margin-right: 0.2rem;
            }
          }
          .times {
            font-size: 0.7rem;
            font-weight: 400;
            width: 100%;
            padding-left: 0.5rem;
          }
          .placar {
            font-size: 0.7rem;
            font-weight: 700;
            max-width: 10px;
          }
        }
      }      
    }
  }
}

//Avatar
.custom-file {
  width: 90px;
  height: 90px;
  background: $white;
  border: 1px solid $clean-2;
  @include border-radius(2px);  
  &:before {
    content: '\e923';      
    font-family: 'icomoon' !important;
    position: absolute;
    text-align: center;
    background: $white;
    width: 24px;
    height: 24px;
    
    top: 4px;
    right: 4px;
    z-index: 4;
    @include border-radius(100px);
  }
  .custom-file-input {
    width: 90px;
    height: 90px;
    cursor: pointer;      
  }
  .minImg {
    width: 86px;
    height: 86px;
    position: absolute;
    top: 1px;
    left: 1px;    
  }
}

//Slider bets
#slider-bets {
  //margin-top: 0.8rem;
  .carousel-item {
    img {
      margin: 0 auto;
    }
  }
}

//Publi
.publi {
  text-align: center;
  //margin-top: 16px;
}

//Calendar bets
.calendar-nav-bets {
  //margin-top: 0.8rem;
  .btn-group {
    display: flex;
    .btn {
      font-size: 0.8rem;
      background-color: $primary;
      border-color: $secondary;
      color: $clean-1;
      padding: 0.8rem;
      &:active {
        background: $cta;
        color: $foreground;
        border-color: $cta;
      }
      &.active {
        background-color: $cta-2;
        color: $clean-1;
      }
    }
  }
}

//Minhas apostas
.minhas-apostas {
  .title-section-simple {
    color: $foreground;
    margin-bottom: 0.8rem;
  }
  &.no-bets {
    .bets {
     .info-bets {
      background: $clean-1;
      padding: 0.5rem;
      text-align: center;
      p {
        font-size: 0.8rem;
        margin-bottom: 0;
      }
      .icon-bet {
        width: 48px;
        height: 48px;
        margin: 0 auto 0.5rem;
      }
     }
   } 
  }
  .list-bets {
    justify-content: space-between; 
    margin-top: 0.8rem;
    width: 100%;       
    margin-bottom: 0.8rem;
    .nav-item {
      flex: 1 1 auto;
      position: relative;
      text-align: center;
      .nav-link {
        background-color: rgba($secondary,0.5);
        color: $clean-1;
        @include border-radius(0);
        &.active {
          background-color: $cta-2;
        }
      }
    }      
  }
}
.cash-bet {
  width: 100%;
  border-bottom: 1px solid $secondary;
  margin-bottom: 0.8rem;
  .total-bet,
  .premio-bet {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    color: $foreground;
    .val {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}
.action-bet { 
  .nav-act {
    justify-content: space-between; 
    margin-top: 0.8rem;
    width: 100%;       
    .nav-item {
      flex: 1 1 auto;
      position: relative;
      text-align: center;
      .nav-link {
        @include border-radius(0);
        transition: 0.2s;
        &.clear-bet {
          background-color: $cta-2;
          color: $clean-1;          
        }
        &.go-bet {
          background-color: $cta;
          color: $foreground;
        }
        &:hover {
          background-color: $secondary;
          color: $clean-1;          
          transition: 0.2s;
        }
      }
    }      
  }
}

.card-bet {
  background: $clean-1;
  .mult-bet {
    display: grid;
    grid-template-areas: 
    "info odd"
    "line line"
    "retorno retorno";
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;    
    border-bottom: 1px solid $clean-2;
    &:last-child{
      border: 0;
    }    
    .total-mult {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;   
      span {
        font-weight: 700;
      }
      input {
        &.val-bet {
          max-width: 110px;
          border: 1px solid $clean-2;
          &::-webkit-input-placeholder {
            text-align: right;
          }        
        }
      }  
    }
    .line {
      background: $clean-2;
      grid-area: line;
      width: 100%;
      height: 1px;
      margin: 0.8rem auto;
    }
    .info-bet {
      grid-area: info;
      .time {
        font-weight: 700;
        color: $foreground;
      }
      .tipo-bet {
        font-size: 0.8rem;
        color: $secondary;
      }
      .jogo {
        font-size: 0.8rem;
        color: $foreground;
      }
    }
    .info-odd {
      grid-area: odd;
      text-align: right;
      max-width: 120px;
      .head {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 0.5rem;
        .close {
          margin-left: 0.5rem;
          opacity: 1;
          height: 18px;
          width: 18px;
          a {
            opacity: 1;
            background: $clean-2;
            color: $foreground;
            transition: 0.2s;
            &:hover {
              color: rgba($secondary,0.5);
              text-decoration: none;
              transition: 0.2s;
            }
          }
        }
        .odd {
          background: $secondary;
          color: $clean-1;
          display: inline-block;
          font-size: 0.8rem;
          padding: 0.3rem;
          @include border-radius(2px);
        }      
      }  
    }    
  }
}

.card-simple-bet {
  background: $clean-1;
  display: grid;
  grid-template-areas: 
  "info odd"
  "line line"
  "retorno retorno";
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  .retorno {
    grid-area: retorno;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    .val {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
  .line {
    background: $clean-2;
    grid-area: line;
    width: 100%;
    height: 1px;
    margin: 0.8rem auto;
  }
  .info-bet {
    grid-area: info;
    .time {
      font-weight: 700;
      color: $foreground;
    }
    .tipo-bet {
      font-size: 0.8rem;
      color: $secondary;
    }
    .jogo {
      font-size: 0.8rem;
      color: $foreground;
    }
  }
  .info-odd {
    grid-area: odd;
    text-align: right;
    max-width: 120px;
    .head {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 0.5rem;
      .close {
        margin-left: 0.5rem;
        opacity: 1;
        a {
          opacity: 1;
          transition: 0.2s;
          color: $foreground;
          &:hover {
            color: rgba($secondary,0.5);
            text-decoration: none;
            transition: 0.2s;
          }
        }        
      }
      .odd {
        background: $secondary;
        color: $clean-1;
        display: inline-block;
        font-size: 0.8rem;
        padding: 0.3rem;
        @include border-radius(2px);
      }      
    }  
    input {
      &.val-bet {
        max-width: 110px;
        border: 1px solid $clean-2;
        &::-webkit-input-placeholder {
          text-align: right;
        }        
      }
    }          
  }
}

//Slick 
.slick-slide {
  margin-right: 0.8rem;
  &:last-child {
    margin-right: 0;
  }
}
.slick-arrow {
  &:before {
    z-index: 2 !important;        
  }
  &:after {
    content: "";
    background: rgba($clean-3,0.3);
    z-index: 0;
    height: 118px;
    width: 30px;
    display: block;
    position: absolute;
    top: -49px;
  }
  &.slick-next {
    &:after {
      margin-left: -10px;
    }
  }
}
.slick-prev,
.slick-next {
  z-index: 3;
  &:before {
    color: $clean-3;
  }
}

//Jogos Destaque
.Jogos-destaque {
  .bets-d-home {
    //margin-top: 1.0rem;
    //margin-bottom: 1.0rem;
  }
  .card-d-bet {
    background-color: rgba($clean-1,1.0);
    padding: 0.5rem;
    border: 1px solid $clean-1;
    @include border-radius(2px);    
    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $foreground;
      .info-champ {
        display: flex;
        font-size: 0.7rem;
        .local {
          margin-right: 0.5rem;
        }
        .champ {
          font-weight: 700;
        }
      }
      .tempo {
        display: flex;
        align-items: center;
        color: $foreground;
        font-size: 0.8rem;
        padding: 0.2rem;
        max-width: 68px;
        @include border-radius(2px);
        span {
          margin-right: 0.2rem;
          &.icon-bet {
            width: 12px;
            height: 12px;
          }
        }
      }
    }    
    .jogo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 0.8rem; 
      .divider {
        text-align: center;        
        span {
          height: 29px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;
        }
        .odd-empate {
          .odd {}
        }
      } 
      .odds {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        .odd {
          display: block;
          text-align: center;
          background: rgba($secondary,0.5);
          color: $clean-1;
          font-size: 0.8rem;
          padding: 0.6rem 0.4rem;        
          width: 50px;
          @include border-radius(2px);
          transition: 0.2s;
          &.active,
          &:hover {
            text-decoration: none;
            background: $cta-2;
            color: $clean-1;
            transition: 0.2s;
          }
        }
      }          
      .time {
        display: flex;
        align-items: center;
        .t-ini {
          padding: 0.2rem;
          font-size: 0.6rem;
        }
        .pl {
          color: $clean-3;
          background: rgba($clean-2,0.5);
          text-align: center;
          font-weight: 700;
          font-size: 0.7rem;
          width: 24px;
          margin: 0 0.2rem;
          padding:0.3rem;
          @include border-radius(2px);
        }
        .escudo {
          background: $clean-1;
          border: 1px solid $secondary;
          padding:0.2rem;
          @include border-radius(100px);
          .flag {
            margin: 0.2rem;
            width: 14px;
            height: 14px;
            background: $clean-2;
          }
        }
      }
    }
  }
}

//jogos-home
.jogos-home {
  .nav-tipos-bet-home {
    .filter-tipo {
      margin: 0.1rem 0 0.5rem auto;      
      button {
        background-color: $clean-1;
        color: $foreground;        
        padding: 0.32rem 0.32rem 0.18rem;
        font-size: 0.7rem;
        .filter-option {
          justify-content: flex-end;
          &:after {
            text-align: center;
            margin-left: 0.5rem;
          }
        }        
      }
    }
    // ul {
    //   display: flex;
    //   list-style: none;
    //   align-items: center;
    //   padding: 0;
    //   margin: 0 0 0 auto;
    //   li {
    //     padding: 0.5rem;
    //     a {
    //       color: $foreground;
    //       font-size: 0.8rem;
    //       opacity: 0.5;
    //       transition: 0.2s;          
    //       &:hover,
    //       &.active {
    //         color: $cta-2;
    //         opacity: 1;
    //         text-decoration: underline;
    //         transition: 0.2s;
    //       }
    //     }
    //   }      
    // }
  }
  .list-bets-home {
    background-color: rgba($clean-1,1.0);
    border: 1px solid rgba($clean-2,0.3);
    padding: 0.5rem;
    @include border-radius(2px);
  }  
}
.champ-group {
 .head {
   color: $clean-1;
   font-size: 0.8rem;
   background-color: rgba($secondary,1.0);
   display: flex;
   align-items: center;
   .info-champ {
    display: flex;
    align-items: center;
    padding: 0.4rem; 
    width: 55%;
    .champ {
      font-weight: 700;
      margin-left: 0.5rem;
    }  
   }
   .info-odd {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
 }
 .jogo {
  padding: 0.4rem; 
  border-bottom: 1px solid rgba($clean-2,0.3);
  display: flex;
  &:last-child {
    border-bottom: 0;
  }
  .info-jogo {
    width: 55%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: 
    "tempo time est placar";
    .tempo {
      grid-area: tempo;
      max-width: 48px;
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      span {
        margin-right: 0.2rem;
        &.icon-bet {
          width: 12px;
          height: 12px;
        }
      }
    }
    .times {
      grid-area: time;
      width: 186px;
      font-size: 0.8rem;
      a {
        color: $secondary;
        transition: 0.2s;        
        &:hover {
          text-decoration: none;
          color: $cta-2;
          transition: 0.2s;
        }
      }
    }
    .estat {
      grid-area: est;
      width: 32px;
      padding: 0.5rem 0.2rem;
      text-align: center;
      a {
        font-size: 1.2rem;
        color: $foreground;
      }
    }
    .placar {
      grid-area: placar;
      text-align: center;
      color: $foreground;
      width: 16px;
      font-size: 0.8rem;
      font-weight: 700;

    }
  }
  .odd-jogo {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .odd {
      display: block;
      text-align: center;
      background: rgba($secondary,0.5);
      color: $clean-1;
      font-size: 0.8rem;
      padding: 0.6rem 0.4rem;        
      width: 50px;
      @include border-radius(2px);
      transition: 0.2s;
      &.active,
      &:hover {
        text-decoration: none;
        background: $cta-2;
        color: $clean-1;
        transition: 0.2s;
      }
    }
  }
 }   
}

//Footer
footer {
  background: $primary;
  border-top: 3px solid $secondary;
  margin-top: 120px;
  padding-top: 2.5rem;
  .row {
    display: flex;
    align-items: center;
  }
  .logo-footer {
    width: 100%;
    text-align: center;
    margin-bottom: 1.0rem;    
    img {
      width: 120px;
    }
  }
  .social-footer {
    justify-content: space-around;
    width: 320px;
    margin: 0 auto;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      li {
        display: inline-block;
        a {
          font-size: 1.4rem;
          color: $clean-1;
        }
      }
    }    
  }
  .links-footer {
    justify-content: space-around;
    ul {
      display: flex;
      justify-content: space-around;
      margin: 1.5rem 0;
      padding: 0;
      li {
        display: inline-block;
        a {
          color: $clean-1;
          &:hover {
            text-decoration: none;
            color: $foreground;
            transition: 0.2s;
          }
        }
      }
    }    
  }
  .info-reg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    span {
      color: $clean-1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      background-color: rgba($secondary,0.5);
      @include border-radius(100px);
      margin: 0 0.8rem;
    }
    p {
      margin: 0;
      font-size: 0.8rem;
      color: $foreground;
    }
  }
  .copy {
    margin-bottom: 0;
    padding: 0.5rem;
    font-size: 0.7rem;
    color: $foreground;
    text-align: center;
  }
}

//Breadcrumb-bet
.breadcrumb-bets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.0rem 0 0 0;
  nav {
    display: flex;
    align-items: center;    
    a {
      font-size: 0.6rem;
      font-weight: 300;
      color: $clean-3;
      transition: 0.2s;
      &:after {
        content: " > ";
        text-align: center;
        display: inline-block;
        width: 20px;
      }
      &:hover {
        color: $foreground;
        transition: 0.2s;
      }      
    }
    span {
      font-size: 0.8rem;
      font-weight: 700;
      color: $foreground;
    }
  }
}

//Nav interna - logado
nav {
  &.intern {
    margin-top: 3.7rem;
    background: $primary;
    padding: 0.8rem;
    @include border-radius(4px);
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        .nav-link {
          display: block;
          color: $clean-1;
          @include border-radius(4px);
          transition: 0.2s;          
          &:hover,
          &.active {
            background: $cta-2;
            transition: 0.2s;
          }
        }
        &:last-child {
          &:after {
            display: none;
          }  
        }
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: rgba($secondary,0.5);
        }
      }
    }
  }
}

//Jogo Interna
.jogo-interna {
  .list {
    .card-bet {
      .head {
        display: flex;
        align-items: center;
        background: $secondary;
        color: $clean-1;
        font-size: 0.8rem;
        .tipo {
          width: 55%;
          padding: 0.4rem;
        }
        .info-odd {
          width: 45%;
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
      .tipoAposta {
        display: flex;
        padding: 0.4rem;
        border-bottom: 1px solid rgba($clean-2,0.3);
        &:last-child {
          border-bottom: 0;
        }
        .info-bet {
          width: 55%;
          font-size: 0.8rem;
          font-weight: 300;
          display: flex;
          align-items: center;
        }
        .odd-jogo {
          width: 45%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .odd {
            display: block;
            text-align: center;
            background: rgba($secondary,0.5);
            color: $clean-1;
            font-size: 0.8rem;
            padding: 0.6rem 0.4rem;        
            width: 50px;
            @include border-radius(2px);
            transition: 0.2s;
            &.disabled {
              background: transparent;
              pointer-events: none;
            }
            &.active,
            &:hover {
              text-decoration: none;
              background: $cta-2;
              color: $clean-1;
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}
.nav-tipos {
  .nav-item {
    .nav-link {
      font-size: 0.7rem;
      color: $clean-3;
      @include border-radius(0);
      &.active {
        color: $foreground;
        background-color: transparent;
        border-bottom: 1px solid $foreground;
      }
    }
    &.bt-est {
      position: absolute;
      top: 6px;
      right: 16px;
      a {
        font-size: 1.5rem;
        color: $foreground;
        &.active {
          border-bottom: 0;
          padding: 0.4rem;
          color: $clean-1;
          background-color: $cta-2;
          @include border-radius(4px);
        }
      }
    }
  }   
}
.betsGeral {
  background-color: $clean-1;
  padding: 0.5rem;
  position: relative;
  @include border-radius(4px);
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: rgba($clean-2,0.5);
    left: 0;
    top: -17px;
  }
}

.list-bets {
  background-color: rgba($clean-1,1.0);
  border: 1px solid rgba($clean-2,0.3);
  padding: 0.5rem;
  @include border-radius(2px);
}

.link-bets {
  display: table;
  background: transparent;
  text-decoration: underline;
  color: $foreground;
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  margin-top: 0.4rem;
  @include border-radius(4px);
  transition: 0.3s;
  &:hover,
  &.active {
    background: $cta-2;
    color: $white;
    text-decoration: none;
    transition: 0.3s;
  }
}

//form-intern
.form-intern {
  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: rgba($clean-2,0.3);
    border: 1px solid $clean-2;
    margin: 0.5rem auto;
    @include border-radius(2px);    
    span {
      &.icon-user {
        font-size: 1.8rem;
      }
    }
  }
  .form-nav {
    text-align: right;
  }
  label {
    display: block;
  }
}

//Select
.bootstrap-select {
  &.selBet {
    .btn-light {
      background-color: $white;
      color: $clean-3;
      padding: 0.72rem 0.75rem;
      .filter-option {
        display: flex;
        justify-content: space-between;
        &:after {
          content: '\e91e';      
          font-family: 'icomoon' !important;
          font-weight: 900;       
          width: 18px;
          height: 18px;
        }
      }
    }
    input {
      &.form-control {
        border: 1px solid $clean-2;
      }
    }
  }
}

.card-filter-jogo {
  font-size: 0.8rem;
}

//resFilter
.resFilter {
  .msg {
    display: none;
  }
  &.noBets {
    .msg {
      display: flex;
      justify-content: center;
      color: $clean-2;
      width: 100%;
      padding: 0.8rem;
      background: rgba($clean-2,0.2);      
    }
  }
  .tipo-filter {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  .listResult {
    .cardBet {
      background: rgba($clean-2,0.1);
      border: 1px solid rgba($accent,0.2);
      padding: 0.8rem;
      margin-bottom: 0.8rem;
      &:last-child {
        margin-bottom: 0;
      }
      .time-res {
        display: flex;
        justify-content: space-between;
        align-items: center;        
        .resFinal {
          font-size: 0.7rem;
          padding: 0.3rem 0.6rem 0.2rem;
          @include border-radius(2px);
          color: $clean-1;
          &.won {
            background: $sucess-background;
          }
          &.lost {
            background: $error-background;
          }
        }
        .data-time {
          font-size: 0.8rem;
        }
      }
      .detal {
        display: block;
        border-top: 1px solid rgba($accent,0.2);
        .link {
          display: table;
          color: $foreground;
          text-decoration: underline;
          margin-top: 0.8rem;
          transition: 0.3s;
          &:hover {
            text-decoration: none;
            color: $cta-2;
            transition: 0.3s;
          }
        }
      }
      .jogo{
        display: flex;
        font-size: 1.2rem;
        color: $foreground;
        font-weight: 700;
      }
      .tipo-bet-odd {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.9rem;
        color: $secondary;
        .tipo {}
        .odd {
          font-size: 1.2rem;
          font-weight: 900;          
        }        
      }
      .val-ret {
        margin: 0.8rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .valAposta,
      .retAposta {
        font-size: 0.9rem;
        color: $foreground;
        font-weight: 700;
      }
    }
  }
}
//infos contact
.infos-contact {
  strong {
    display: block;
  }
  span {
    font-size: 0.8rem;
  }
}

//notifications
.listNotifications {
  list-style: none;
  margin: 1.0rem 0 0 0;
  padding: 0;
  li {
    border-bottom: 1px solid rgba($accent,0.2);
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
    &:last-child {
      border-bottom: 0;
    }
    .title {
      color: $foreground;
      font-weight: 900;
    }
    .data {
      color: $accent;
      font-size: 0.8rem;
    }
  }
}


.sacarForm {
  .saldo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    background: rgba($clean-2,0.1);
    border: 1px solid rgba($secondary,0.2);
    padding: 0.5rem;    
    font-size: 1.4rem;
    font-weight: 900;    
  }
}

.infoMetodo {
  font-size: 0.9rem;
  color: $secondary;
  strong {
    display: block;
  }
}

//Extrato
.filterExtr {
  .form-group {
    &:last-child {
      align-items: center;
    }
  }
  .saldo {
    font-size: 1.5rem;
    font-weight: 900;
    &:before {
      content: "Saldo disponível:";
      font-size: 0.9rem;
      font-weight: 300;
      margin-right: 0.5rem;
    }
  }
}
.listExtr {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    margin-bottom: 0.8rem;
    width: 100%;
    border-bottom: 1px solid rgba($accent,0.2);
    .dataExt {      
      align-items: center;
      display: flex;     
    }    
    .codTrans {
      font-size: 0.8rem;
      margin-right: 1.5rem;
      font-family: "Lucida Console", "Courier New", monospace;
      &:before {
        content: "Código da transação";
        display: block;
        font-family: 'Roboto', sans-serif;
      }
    }
    .data-time {
      font-size: 0.8rem;      
      margin-right: 1.5rem;
      &:before {
        content: "Data";
        display: block;
      }
    }
    .tipo {
      font-size: 0.8rem;      
      &:before {
        content: "Tipo";
        display: block;
      }
    }
    .val {
      font-size: 1.2rem;
      font-weight: 900;
    }
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }    
  }
  &.sty2 {
    background: rgba($secondary,0.2);
    border: 1px solid rgba($accent,0.2);
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    @include border-radius(2px);
    strong {
      display: block;
      margin-bottom: 0.5rem;
      color: $foreground;
    }
    li {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

//form adjustes
h4 {
  &.title {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
.row{
  &.c-center {
    align-items: center;
  }
}
//Minhas contas
ul {
  &.minhasContas {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.0rem;
    li {
      .conta {
        background: rgba($secondary,0.2);
        padding: 0.5rem;
        display: grid;
        grid-template-areas: 
        "banco banco banco"
        "titular cpf tipo"
        "agencia conta pix"
        "actions actions actions";
        @include border-radius(4px);
        .banco {
          font-weight: 700;
          grid-area: banco;
        }
        .titular {
          grid-area: titular;
          font-size: 0.8rem;      
            &:before {
            content: "Titular";
            font-weight: 700;
            display: block;
          }
        }
        .cpf {
          grid-area: cpf;
          font-size: 0.8rem;      
            &:before {
            content: "CPF";
            font-weight: 700;
            display: block;
          }
        }
        .tipo {
          grid-area: tipo;
          font-size: 0.8rem;      
            &:before {
            content: "Tipo";
            font-weight: 700;
            display: block;
          }
        }
        .agencia {
          grid-area: agencia;
          font-size: 0.8rem;      
            &:before {
            content: "Agência";
            font-weight: 700;
            display: block;
          }
        } 
        .nconta {
          grid-area: conta;
          font-size: 0.8rem;      
            &:before {            
            content: "Nº da conta";
            font-weight: 700;
            display: block;
          }
        }
        .cpix {
          grid-area: pix;
          font-size: 0.8rem;      
            &:before {            
            content: "Chave PIX";
            font-weight: 700;
            display: block;
          }
        }
        .actions {
          grid-area: actions;
          display: flex;          
          justify-content: space-around;
          align-items: center;
          border-top: 1px solid rgba($foreground,0.2);
          margin-top: 0.5rem;          
          a {
            margin-top: 0.5rem;
            &:hover {
              background: $cta-2;
            }
            &.deletConta {
              background: $error-background;
              &:hover {
                background: $error;
              }
            }
          }
        }
      }
    }
  }
}

.boxConta {
  background: rgba($clean-2,0.3);
  text-align: center;
  padding: 0.8rem;
  @include border-radius(4px);
  p {
    margin: 0;
    color: $clean-3;
  }
  .link {
    color: $foreground;
    text-decoration: underline;
    font-size: 0.8rem;
    &:hover {color: $cta-2;}
  }
}

//Content intern
.container {
  &.intern {
    background: $clean-1;
    border: 1px solid $clean-2;
    padding: 15px;
    margin-top: 1.5rem;
  }
  h1 {
    &.title {
      display: flex;
      color: $foreground;
      font-size: 1.5rem;      
      margin-bottom: 0;
      border-bottom: 3px solid $primary;
    }
  }
  h2 {
    &.bvd {
      color: $foreground;
      font-size: 1.4rem;
      margin-top: 0.8rem;
      font-weight: 300;
      span {
        font-weight: 700;
      }
    }
  }
  p {
    font-size: 0.9rem;
    &.sub {
      color: $secondary;
      margin-top: 0.5rem;
      font-size: 0.8rem;
    }
  }
}

//Minhas apostas Interna
.minhas-apostas-list {
  .nav-pills {
    justify-content: flex-end;
    border-bottom: 1px solid $primary;
    padding-bottom: 0.8rem;
    margin-bottom: 0.8rem;
    .nav-item {
      a {
        font-size: 0.8rem;
        color: $foreground;
        &.active {
          color: $white;
          background-color: $cta-2;
        }
      }
    }
  }
}

.semAposta {
  p {
    text-align: center;
    padding: 1.0rem;
    background: rgba($clean-2,0.2);
    color: $clean-2;
    span {
      font-size: 1.4rem;
    }
  }
}

//cardAposta (Minhas apostas/)
.apostas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;  
}
.cardAposta {
  background: rgba($clean-2,0.1);  
  overflow: hidden;
  @include border-radius(4px);
  @include box-shadow();
  .headCard {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $secondary;
    color: $white;
    .tipo {
      font-weight: 300;
      margin-right: 0.5rem;
    }
    .valor {
      font-weight: 700;      
    }
  }
  .info-jogo {    
    .tipo-odd {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.5rem 0 0.5rem;    
      font-weight: 700;
      .tipo-bet {
        font-size: 0.8rem;
        .tp-master {
          font-size: 1.2rem;
        }
        .tp-sec {
          display: flex;
          font-weight: 400;
          .tp-1 {
            margin-right: 0.5rem;
          }
        }
      }
      .odd {
        background:$secondary;
        color: $white;
        font-size: 1.0rem;
        padding: 0.2rem 0.8rem;
        margin-left: 0.8rem;
      }
    }
    .jogo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $secondary;
      padding: 0.5rem;      
      border-bottom: 1px dashed rgba($foreground,0.2);
      margin-bottom: 0.8rem;

      .tempo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $foreground;
        padding: 0.5rem;
        background: rgba($clean-2,0.2);        
        @include border-radius(2px);
        .icon-bet {
          margin-right: 0.3rem;
        }
      }
      
      .times {
        font-size: 1.0rem;
        margin-right: 0.8rem;
      }
      .placar {
        color: $foreground;
        font-weight: 700;
        font-size: 1.0rem;
      }
    }    
  }
  .retorno {
    background: rgba($clean-3,0.3);
    font-weight: 700;
    font-size: 1.4rem;
    padding: 0.8rem 0.5rem;
    display: flex;
    align-items: center;
    &:before {
      content: "Possível retorno: ";
      font-weight: 400;
      font-size: 0.8rem;
      margin-right: 0.5rem
    }
  }
  &.gain {
    .jogo {
      pointer-events: none;
    }
    .retorno {
      &:before {
        content: "Você ganhou: ";       
      } 
    }
  }
  &.los {
    .jogo {
      pointer-events: none;
    }
    .retorno {
      &:before {
        display: none;
      } 
    }
  }
}

//error 404
.error-404 {
  background-color: $white;
  .logo-404 {
    margin: 1.0rem auto;
    width: 280px;
    height: auto;
    opacity: 0.5;
    filter: invert(8%) sepia(0%) saturate(1%) hue-rotate(6deg) brightness(8%) contrast(2%);
  }
  h1 {
    color: $clean-2;
    margin-top: 1.0rem;
    font-size: 3.8rem;
  }
  .sub-t {
    font-size: 1.2rem;
  }
  footer {
    border: 0;
    background: transparent;
    p {
      color: $foreground;
    }
  }
}

//Media Queries
@import 'client_style_queries.scss';