 //Colors
 $primary          : #F2BB16;
 $accent           : #98A093;
 $secondary        : #F2A03D;
 $foreground       : #730202;
 $background       : #E7E7E7;

 $clean-4          : #344459;
 $clean-3          : #5A798C;
 $clean-2          : #7C9AA6;
 $clean-1          : #F4F5F6;

 $cta              : #F27405;
 $cta-2            : #BF3604;

 $white            : #FFFFFF;

 $error            : #F91F1F;
 $error-background : #FC6161;
 $sucess           : #12931E;
 $sucess-background: #53BE62;